[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "themes/BaseV1"]
	path = themes/BaseV1
	url = https://github.com/mapasculturais/theme-TemplateV1
